<p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Body</b><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <b>Username</b><br />
    <%= f.text_field :username, :value => @username, :readonly=> true%>
  </p>

  <p>
    <b>Created at</b><br />
    <%= f.datetime_select :created_at %>
  </p>

  <p>
   <%= f.submit type %>
  </p>
  
   
  
 